{% extends 'base-front.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
 <div class="row justify-content-center">
    <div class="content-wrapper">
        <h1><tr>
                    <td>{{ user.nom }}</td>
                </tr></h1>

        <table>
            <tbody>
                <tr>
                    <th>Prenom</th>
                    <td>{{ user.prenom }}</td>
                </tr>
                <tr>
                    <th>Mail</th>
                    <td>{{ user.mail }}</td>
                </tr>
                
                <tr>
                    <th>Genre</th>
                    <td>{{ user.genre }}</td>
                </tr>
                <tr>
                    <th>Date de Naissance</th>
                    <td>{{ user.date_de_naissance ? user.date_de_naissance|date('Y-m-d') : '' }}</td>
                </tr>
                <tr>
                    <th>Role</th>
                    <td>{{ user.role }}</td>
                </tr>
                <tr>
                    <th>Niveau</th>
                    <td>{{ user.niveau }}</td>
                </tr>
                <tr>
                    <th>Disponibilite</th>
                    <td>{{ user.disponibilite }}</td>
                </tr>
                <tr>
                    {% if user.img %}
                            <img src="{{ asset('images/' ~ user.img) }}" class="img-fluid" alt="User Image">
                            {% else %}
                            <span>No Image Available</span>
                            {% endif %}
                </tr>
            </tbody>
        </table>



        
    </div>
        </div>

{% endblock %}
